<ul>
<% @movies.each do |movie| %>
  <li>
    <strong><%= movie.title %></strong>
    <p>(<%= movie.rating %>):</p>
    <p><%= total_gross(movie) %></p>
    <p><%= movie.description %></p>
    <p><%= year_of(movie) %></p>
  </li>
<% end %>
</ul>
