<h1>Reviews for <%= link_to @movie.title, @movie %></h1>

<ul class="reviews">
  <% @reviews.each do |review| %>
    <li>
      <%= render "shared/stars", percent: review.stars_as_percent %>
      <p>
        <%= review.name %>
        <span class="date">
          <%= time_ago_in_words(review.created_at) %> ago
        </span>
      </p>
      <p>
        <%= review.comment %>
      </p>
    <%= link_to 'Delete', movie_reviews_path(@movie), class: 'button', 
          method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>
  <% end %>
<section class="admin">
  <%= link_to 'Add New Review', new_movie_review_path, class: 'button' %>
</section>
</ul>
